@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    align-items: center;
}
header img{
    width: 70%;
}
header ul{
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    color: rgb(94, 91, 91);
    display: inline-block;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    transition: 0.4s;
}
header ul li a:hover{
    color: #017143;
    font-size: 22px;
}
.conteudo{
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: row;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;

}
.container-text{
    max-width: 600px;
}
.container-text h2{
    color: rgb(95, 95, 95);
    font-size: 4em;
    line-height: 1.2em;
    font-weight: 500;
}
.container-text h2 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}
.container-text p{
    color: #333;
    line-height: 1.3em;
    margin-top: 5px;
}
.container-text a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: #017143;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}
.produtos-imagem{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 90px;
    margin-top: 50px;
}
.produtos-imagem img{
    max-width: 300px;
}
.escolha-produtos{
    position:absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    bottom: 20px;
}

.escolha-produtos li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.escolha-produtos li:hover{
    transform: translateY(-15px);
}


.escolha-produtos li img{
    max-width: 60px;
}

.social-midia ion-icon{
    fill: white;
    cursor: pointer;
    height: 30px;
    width: 30px;
}
.social-midia ion-icon:hover{
    height: 35px;
    width: 35px;
}
.social-midia{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 94%;
}
.social-midia li{
    list-style: none;
    padding: 20px 0;
}
.circulo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #017143;
    clip-path: circle(600px at right 800px);
}